<section class="welcome-page">
  <div class="container-fluid d-flex flex-column justify-content-around h-100">
      <div class="row">
        <div class="col-md-7 offset-md-2 text-center">
          <h1 class="text-white font-weight-bold text-welcome">Mediz Medical Center</h1>
          <h4 class="font-weight-bold text-primary">Trusted by 10000+ patients</h4>
          <p class="font-weight-bold text-secondary">Far far away, behind the word mountains, far from the countries</p>
          <p class="font-weight-bold text-secondary">Vokalia and Consonantia, there live the blind text.</p>
          <% unless current_user.present? %>
          <%= link_to "Sign up", new_user_registration_path, class: "btn btn-success rounded-pill size-button" %>
          <% end %>
        </div>
     </div>
    </div>
</section>
<section>
  <div class="row px-4">
    <div class="col-6 px-4">
      <br>
      <br>
      <br>
      <h3>Story about our hospital</h3>
      <p class="text-primary">And how we get to this point</p>
      <p class="text-secondary">One of the first major discoveries relevant to the field of pulmonology was the discovery of pulmonary circulation. Originally, it was thought that blood reaching the right side of the heart passed through small ‘pores’ in the septum.<p>
      <br>
      <p class="text-secondary">One of the first major discoveries relevant to the field of pulmonology was the discovery of pulmonary circulation. Originally, it was thought that blood reaching the right side of the heart passed through small</p>
      <br>
      <p class="text-secondary">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmar ksgrove right at the coast of the Semantics, a large language ocean. A small river named Duden flows.</p>
    </div>
    <div class="col-6 image-girl">
    </div>
  </div>

</section>
