<div class="container">
  <br>
<div class="card text-center">
  <h3><strong>Full_name: <%= current_user&.full_name %></strong></h3>
  <h3><strong>Email: <%= current_user&.email %></strong></h3>
  <h3><strong>Phone: <%= current_user&.phone_number %></strong></h3>
</div>
</div>
