
<div class="container">
  <div class="row">
   <div class="col-md-6 offset-md-3">
  <% @doctors.each do |doctor| %>
    <div class="card text-center doctor-list">
      <p class="text-success text-uppercase font-weight-bold"><%= doctor.full_name %></p>
      <p><%= doctor&.category&.name%></p>
      <% if can? :create, Appointment %>
        <%= link_to "Request an Appointment", new_appointment_path(doctor_id: doctor.id), class: "btn btn-info" %>
      <% end %>
    </div>
    <br>
  <% end %>
</div>
<div>
</div>
